.header.content
  div
    h2 Products

.tables.content
  div
    daisho-list(list-field='products')
      .cell { data.get('slug') }
      .cell { data.get('name') }
      .cell { data.get('price') }
