.header.content
  div
    text-control.input(lookup='name', placeholder='Name')

.content
  div
    .form-group.slug-sku-group
      text-control.input(lookup='slug', placeholder='Slug')
      text-control.input(lookup='sku', placeholder='SKU')
    .form-group
      textarea-control.input(lookup='description', placeholder='Description')

.content
  div
    .form-group
      text-control.input(lookup='slug', placeholder='Slug')
      text-control.input(lookup='sku', placeholder='SKU')
    .form-group
      textarea-control.input(lookup='description', placeholder='Description')
