.header.content
  div
    text-control.input(lookup='name', placeholder='Name')

.form-content.form-1
  .form-title
    h2 Product Information
  .form-part
    .form-section
      .form-group.two-inputs
        text-control.input(lookup='slug', placeholder='Slug')
        text-control.input(lookup='sku', placeholder='SKU')
      .form-group
        textarea-control.input(lookup='description', placeholder='Description')
    .form-section
      h3 Images
      form-group.three-inputs
        // image-drop-control
        img(src='/img/hero-prod.png')
        img(src='/img/charging-case.png')
        img(src='/img/add-photo.png')

.form-content.form-2
  .form-title
    h2 Pricing and Availability
  .form-part
    .form-section
      h3 Price
      .form-group.two-inputs
        currency-control.input(lookup='price', placeholder='Price')
        currency-control.input(lookup='listPrice', placeholder='Compare Price')
      .form-group.two-inputs
        div
          span In Stock?
          checkbox-control.input(lookup='instock', placeholder='In Stock')
        text-control.input(lookup='quantity', placeholder='Quantity')
    .form-section
      h3 Shipping
      .form-group.three-inputs.dimensions
        text-control.input(lookup='dims.length', placeholder='Length')
        text-control.input(lookup='dims.width', placeholder='Width')
        text-control.input(lookup='dims.height', placeholder='Height')
      .form-group.quarter-quarter-half-inputs.dimensions
        text-control.input(lookup='weight', placeholder='Weight')
        text-control.input(lookup='units', placeholder='Units')
        text-control.input(lookup='estimatedDelivery', placeholder='Estimated Delivery')

