$elementSpacing = 40px

hanzo-product
  .form-1, .form-2
    .form-part
      .form-section
        column 1/2 2 $elementSpacing

  .two-inputs > *
    column 1/2 2 $elementSpacing / 2

  .three-inputs > *
    column 1/3 3 $elementSpacing / 2
